{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        {% if listing.active_flag %}
            <div class="listing_div">
                <h2><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h2> 
                <p>{{ listing.description }}</p> 
                <p>Starting Bid: {{ listing.starting_bid }}</p>
                {% if listing.current_price != listing.starting_bid %}
                    <p>Current Bid: {{ listing.current_price }}</p>
                {% endif %}
            </div>
            <hr>
        {% endif %}
    {% endfor %} 

    <h2>Closed Listings</h2>

    {% for listing in listings %}
        {% if not listing.active_flag %}
            <div><a href="{% url 'listing' listing.id %}">{{ listing.title }}: {{ listing.description }} Won by: {{ listing.winner }}</a></div>
        {% endif %}
    {% endfor %}
{% endblock %}