{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <div><img src="{{ listing.image }}" class="big_image"></div>
    <div>{{ listing.description }}</div>
    <div class="price_text">Starting Price: ${{ listing.starting_bid }}</div>
    {% if highest_bid %}
    <div class="price_text">Current Bid: ${{ current_price }} by {{ highest_bid.bidder.username }}</div>
    {% else %}
    <div class="price_text">No bids yet</div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if listing.active_flag %}
            {% if low_bid %}
            <ul><li>{{ low_bid }}</li></ul>
            {% endif %}
            {% if listing.creator == request.user %}
                <div><form action="{% url 'listing' id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Close Auction" class="close_auction_button">
                </form></div>
            {% else %}
                <div><form action="{% url 'listing' id %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit Bid" class="buttons">
                </form></div>
            {% endif %}
        {% else %}
            <div class="price_text">Listing Closed</div>
            {% if listing.winner %}
                <div class="listing_status">Auction won by: {{listing.winner}}</div>
                {% if listing.winner == request.user %}
                    Congratulations! You won this auction!
                {% endif %}
            {% endif %}
        {% endif %}
        {% if user in listing.watchlist.all %}
            <form action="{% url 'watchlist' id %}" method="POST">{% csrf_token %}<input type="submit" value="Remove from Watchlist" class="close_auction_button"></form>
        {% else %}
            <form action="{% url 'watchlist' id %}" method="POST">{% csrf_token %}<input type="submit" value="Add to Watchlist" class="buttons"></form>
        {% endif %}
        <div class="details">Details</div>
        <ul>
            {% if category %}
                <div><li>Category: {{ category }}</li></div>
            {% else %}
                <div><li>Category: No category listed</li></div>
            {% endif %}
            <div><li>Created by: <span class="user_name">{{ listing.creator }}</span></li></div>
        </ul>
    {% endif %}
    <hr>
    <h2>Comments</h2>
        {% if user.is_authenticated %}
            <hr>
            <form action="{% url 'listing' id %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Post Comment" name="add_comment" class="comment_submit_button">
            </form>
        {% endif %}
    <hr>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <p>{{ comment }}<p>
                Sent on {{ comment.timestamp|date:"M d, Y H:i" }}
                <hr>
            {% endfor %}
        </ul>
    {% else %}
            <p>No comments yet...</p>
    {% endif %}
    <hr>
{% endblock %}