{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    <div>{{ listing.description }}</div>
    <div>Starting Bid: {{ listing.starting_bid }}</div>
    {% if highest_bid %}
    <div>Highest Bid: {{ current_price }} by {{ highest_bid.bidder.username }}</div>
    {% else %}
    <div>No bids yet</div>
    {% endif %}
    <div>{{ category }}</div>
    <div>Created by {{ listing.creator }}</div>
    {% if user.is_authenticated %}
        {% if listing.active_flag %}
            {% if low_bid %}
            <ul><li>{{ low_bid }}</li></ul>
            {% endif %}
            {% if listing.creator == request.user %}
                <div><form action="{% url 'listing' id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Close Auction">
                </form></div>
            {% else %}
                <div><form action="{% url 'listing' id %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit Bid">
                </form></div>
            {% endif %}
        {% else %}
            <div>Listing Closed</div>
            {% if listing.winner %}
                <div>Auction won by: {{listing.winner}}</div>
            {% endif %}
        {% endif %}
        {% if user in listing.watchlist.all %}
            <form action="{% url 'watchlist' id %}" method="POST">{% csrf_token %}<input type="submit" value="Remove from watchlist"></form>
        {% else %}
            <form action="{% url 'watchlist' id %}" method="POST">{% csrf_token %}<input type="submit" value="Add to watchlist"></form>
        {% endif %}
        <hr>
        <h2>Comments</h2>
        <hr>
        <form action="{% url 'listing' id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="Post Comment" name="add_comment">
        </form>
    {% endif %}
    <hr>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <p>{{ comment }}<p>
                Sent on {{ comment.timestamp|date:"M d, Y H:i" }}
                <hr>
            {% endfor %}
        </ul>
    {% else %}
            <p>No comments yet...</p>
    {% endif %}
    <hr>
{% endblock %}